.input-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.label {
  font-weight: 500;
  margin-bottom: 10px;
}

.note {
  margin-left: 5px;
  opacity: 0.5;
}

.input-box {
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 14px;
  height: 50px;
}

.prefix {
  display: inline-flex;
  align-items: center;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  color: #999;
  height: 100%;
  height: 50px;
  border-right: 1px solid lightgray;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  border: none;
  box-sizing: border-box;
}

input:focus .error {
  border: 1px solid red;
}

.error {
  border: 1px solid red;
}

::placeholder {
  font-size: 14px;
  opacity: 1;
  color: gray;
}
